.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
  }


  .container3 {
    padding: 25px;
    margin:0;
   position:absolute;
   
   left:50%;
   margin-right: -50%;
   transform: translate(-50%);
  
  }

  .container4 {
    padding: 25px;
    margin:0;
   position:absolute;
   top:83%;
   left:50%;
   margin-right: -50%;
   transform: translate(-50%);
  
  }

  .bottom-left {
    font-size: 24px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    padding-bottom: 18px;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

  .container2{
    padding: 25px;
    margin:0;
   position:absolute;
   
   left:50%;
   margin-right: -50%;
   transform: translate(-50%);

  }
  .imagem{
    width: 100%;
    height: 280px;
  }

  .centro{
    margin-left: auto;
    margin-right: auto;
  }
  


  .mdl-card-1 {
    width: 120px;
    height: 214px;
    display: inline-block;

}
.mdl-card__media {
    margin: 0;
    height: 180px;
}
.mdl-card__media > img {
    max-width: 100%;
    height: 180px;
}

.mdl-card__title-1 {
    background: rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 8px;
}

.mdl-card__title-text {
    font-size: 16px;
}